<ion-header>
  <ion-toolbar>
    <ion-title>Torres de Hanoi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>        
      <ion-col>          
        <!-- solucion grafica -->
        <ion-button size="large" color="tertiary" routerLink="/solucion-grafica">
          <ion-icon slot="start" name="game-controller-outline"></ion-icon>
          Solución Gráfica
        </ion-button>
        
        <!-- solucion alternativa -->      
        <ion-button size="large" color="tertiary" routerLink="/solucion-extendida">
          <ion-icon slot="start" name="shuffle-outline"></ion-icon>
          Solución Extendida
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>